<div class='container'>
  <h1>Channels</h1>

  <%= link_to 'New Channel', new_channel_path, class: 'btn btn-default' %>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @channels.each do |channel| %>
        <tr>
          <td><%= link_to 'Join Channel', channel, class: 'btn btn-default' %></td>
          <td><%= channel.name %></td>
          <td><%= channel.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
