<div class="col-sm-12">
  <div class="page-header text-muted">
    Channels
  </div>
</div>

<% @channels.each do |channel| %>
  <div class="row">
    <div class="col-sm-2">
      <h3>
        <%= link_to raw("<span class='glyphicon glyphicon-log-in'></span>"), channel, class: 'pull-right btn btn-lg' %>
      </h3>
    </div>
    <div class="col-sm-10">
      <h3><%= channel.name %></h3>
      <h4><%= channel.description %></h4>
    </div>
  </div>
<% end -%>
